<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") -%>
</head>

<body>


    <main>
        <h1>name: <%=name %></h1>
        <h1>type: <%=type %></h1>
        <h1>slots: <%=slots %></h1>
        <h1>organisation: <%=organization %></h1>
        <img src=<%=path %> height="128" width="128">


    </main>


    <footer>
        <%- include("../partials/footer.ejs") -%>
    </footer>

</body>

</html>